@import 'variables.scss';
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

@import 'normalize.scss';

@import 'grid.scss';
@import 'text.scss';
@import 'forms.scss';
@import 'navbars.scss';
@import 'panels.scss';
@import 'pagers.scss';
@import 'colors.scss';
@import 'popup.scss';
@import 'tables.scss';

.disabled {
    cursor:not-allowed;
    opacity:0.3;
    pointer-events:none;
}

.circle{border-radius:50% !important}
.round{border-radius:2px !important}
.round-small{border-radius:4px !important}
.round-medium{border-radius:8px !important}
.round-large{border-radius:16px !important}
.round-xlarge{border-radius:32px !important}
.round-xxlarge{border-radius:64px !important}

.shadow {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.8),0 1px 5px 0 rgba(0,0,0,0.16) !important;}
.shadow-2{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
.shadow-4{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;}
.shadow-8{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;}
.shadow-12{
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19) !important;}
.shadow-16{
    box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important;}
.shadow-24{
    box-shadow:0 24px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22) !important;}

.left {
    position: absolute;
    left: 0;
}
.right {
    position: absolute;
    right: 0;
}