* {
    box-sizing: border-box;
}
@import 'variables.scss';
@import 'normalize.scss';
@import 'grid.scss';
@import 'text.scss';
@import 'forms.scss';
@import 'navbars.scss';
@import 'panels.scss';
@import 'pagers.scss';
@import 'colors.scss';
@import 'modal.scss';
@import 'tables.scss';
@import 'shadow.scss';

.disabled {
  cursor:not-allowed;
  opacity:0.3;
  pointer-events:none;
}

.circle{border-radius:50% !important}
.round{border-radius:2px !important}
.round-small, .round-4 {border-radius:4px !important}
.round-medium, .round-8 {border-radius:8px !important}
.round-large, .round-16{border-radius:16px !important}
.round-xlarge, .round-32{border-radius:32px !important}
.round-xxlarge, .round-64{border-radius:64px !important}

.absolute-left {
  position: absolute;
  left: 0;
}
.absolute-right {
  position: absolute;
  right: 0;
}

.float-left {
  float:left !important;
}

.float-right {
  float:right !important;
}
