html {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -ms-overflow-style: scrollbar;
}

* {
  box-sizing: border-box !important;
}

@import 'variables.scss';
@import 'normalize.scss';
@import 'grid.scss';
/*
@import 'text.scss';
@import 'forms.scss';
@import 'navbars.scss';
@import 'panels.scss';
@import 'pagers.scss';
@import 'colors.scss';
@import 'modal.scss';
@import 'tables.scss';
@import 'shadow.scss';
@import 'slider.scss';
@import 'helpers.scss';
@import 'round.scss';
@import 'animate.scss';
*/

