.form  {
    padding: 5px !important;
    & > * {
        display: block !important;
        margin: 5px;
        margin-bottom: 0;
    }
}

.form-inline {
    padding: 5px !important;
    & > * {
        display: block !important;
        margin: 5px;
        margin-bottom: 0;
    }
     @media screen and (min-width: 600px) {
         & > * {
             display: inline-block !important;
             margin: 5px;
             margin-bottom: 0;
             vertical-align: middle;
         }
     }
}

.btn , .btn-small, input[type=button] {
    border:none;
    display:inline-block;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none !important;
    color:#000;
    background-color:#fff;
    text-align:center;
    transition:.2s ease-out;
    cursor:pointer;
    white-space:nowrap;
}

.btn, input[type=button] {
    padding:8px 16px;
}

.btn-small {
    padding:4px 8px;
    font-size: 95%;
}

.btn:hover, input[type=button]:hover, .btn-small:hover, .btn-floating:hover, .btn-floating-large:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:active, .btn-floating:active, .btn-floating-large:active, input[type=button] {
    box-shadow: none;
}

.btn-floating,.btn-floating-large{
    display:inline-block;
    text-align:center;
    color:#fff;
    background-color:#000;
    position:relative;
    overflow:hidden;
    z-index:1;
    padding:0;
    border-radius:50%;
    transition:.3s;
    cursor:pointer;
    font-size:24px;
}

.btn-floating{
    width:40px;
    height:40px;
    line-height:40px;
}

.btn-floating-large{
    width:56px;
    height:56px;
    line-height:56px;
}

.input {
    padding:8px;
    border:none;
    border-bottom:1px solid #808080;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    @media screen and (min-width: 600px) {
        width: auto;
    }
    &:focus {
        outline: none;
        border-bottom-width: 2px;
        }
}

.input-border {
    padding: 8px;
    outline-color: #808080;
    outline-style: solid;
    outline-width: 1px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    @media screen and (min-width: 600px) {
        width: auto;
    }
    &:focus {
        outline-width: 2px;
    }
}

.label, input[type=file] {
    color:#009688;
    display: inline-block;
    padding: 5px;
 }
 
.select {
    padding: 5px;
    background: transparent;
    color:#009688;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    background-color: #f1f1f1;
}

.textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

.input:not(:valid) .validate{color:#f44336}

input[type=checkbox].check,input[type=radio].radio{width:24px;height:24px;position:relative;top:6px}
input[type=checkbox].check:checked+.validate,input[type=radio].radio:checked+.validate{color:#009688} 
input[type=checkbox].check:disabled+.validate,input[type=radio].radio:disabled+.validate{color:#aaa}
