

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
    box-sizing: border-box;
    /*
    margin-right: -1rem;
    margin-left: -1rem;
    */
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.container {
    margin: 0 auto 0 auto;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
}

@for $i from 1 through 12 {
    .col-xs-#{$i} { max-width: #{nth($width,$i)};
    }
}
  
@for $i from 1 through 12 {
    .col-xs-offset-#{$i} { margin-left: #{nth($width,$i)};
    }
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
  
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
      box-sizing: border-box;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} { max-width: #{nth($width,$i)};
    }
  }
  @for $i from 1 through 12 {
    .col-sm-offset-#{$i} { margin-left: #{nth($width,$i)};
    }
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
      box-sizing: border-box;
  }
  
  @for $i from 1 through 12 {
    .col-md-#{$i} { max-width: #{nth($width,$i)};
    }
  }
  
  @for $i from 1 through 12 {
    .col-md-offset-#{$i} { margin-left: #{nth($width,$i)};
    }
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
      box-sizing: border-box;
  }
  
  @for $i from 1 through 12 {
    .col-lg-#{$i} { max-width: #{nth($width,$i)};
    }
  }
  
  @for $i from 1 through 12 {
    .col-lg-offset-#{$i} { margin-left: #{nth($width,$i)};
    }
  }
}


.col-center {
    float: none;
    margin: 0 auto;
}
.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
 }
 