.disabled {
  cursor:not-allowed;
  opacity:0.3;
  pointer-events:none;
}

.absolute-left {
  position: absolute;
  left: 0;
}
.absolute-right {
  position: absolute;
  right: 0;
}

.float-left {
  float:left !important;
}

.float-right {
  float:right !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@for $i from 1 through 9 {
.padding-0#{$i} {
  padding: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.padding-#{$i}0 {
  padding: #{$i}rem;
}
}

@for $i from 1 through 9 {
.padding-top-0#{$i} {
  padding-top: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.padding-top-#{$i}0 {
  padding-top: #{$i}rem;
}
}

@for $i from 1 through 9 {
.padding-bottom-0#{$i} {
  padding-bottom: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.padding-bottom-#{$i}0 {
  padding-bottom: #{$i}rem;
}
}

@for $i from 1 through 9 {
.padding-left-0#{$i} {
  padding-left: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.padding-left-#{$i}0 {
  padding-left: #{$i}rem;
}
}

@for $i from 1 through 9 {
.padding-right-0#{$i} {
  padding-right: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.padding-right-#{$i}0 {
  padding-right: #{$i}rem;
}
}


@for $i from 1 through 9 {
.margin-0#{$i} {
  margin: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.margin-#{$i}0 {
  margin: #{$i}rem;
}
}

@for $i from 1 through 9 {
.margin-top-0#{$i} {
  margin-top: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.margin-top-#{$i}0 {
  margin-top: #{$i}rem;
}
}

@for $i from 1 through 9 {
.margin-bottom-0#{$i} {
  margin-bottom: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.margin-bottom-#{$i}0 {
  margin-bottom: #{$i}rem;
}
}

@for $i from 1 through 9 {
.margin-left-0#{$i} {
  margin-left: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.margin-left-#{$i}0 {
  margin-left: #{$i}rem;
}
}

@for $i from 1 through 9 {
.margin-right-0#{$i} {
  margin-right: #{$i/10}rem;
}
}

@for $i from 1 through 9 {
.margin-right-#{$i}0 {
  margin-right: #{$i}rem;
}
}

