.modal, .modal-dialog, .modal-small {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal {
    background-color: rgba(0,0,0,0.4);
}

.dark .modal-content,
.dark .modal-header {
    background: rgb(0,0,0);
    color: white;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    z-index: 1;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.modal > .modal-content {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-duration: .4s;
    animation-name: animatetop;
}

.modal-dialog > .modal-content, .modal-small > .modal-content {
    -webkit-animation-name: zoomIn;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    animation-name: zoomIn;
}

.modal-header{
    display: flex;
    border-color: black;
    padding: .8rem;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    background-color: #F5F5F5;
}

.dark .modal-header {
    box-shadow: 0 2px 2px 0 rgba(127,127,127,.2);
}

.modal-body {
    padding: 1rem;
}

.modal-body > * {
    margin: .1rem;
}

.modal-footer {
    display:flex;
    border-color: black;
    padding: .8rem;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: 0 -2px 2px 0 rgba(0,0,0,.2);
    background-color: #F5F5F5;
}

.modal-show {
  display:flex !important;
}


.close {
    margin-left: auto;
    color: #777;
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

