nav.navbar{
    background-color: #f3f3f3;
    white-space: nowrap;

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-height: 47px;
        -webkit-transition: all .5s ease-in-out 0s;
        -moz-transition: all .5s ease-in-out 0s;
        -ms-transition: all .5s ease-in-out 0s;
        -o-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;
        position: relative;
    }
    & li:not(.header) {
        /*display: none;*/
    }
    & li.header a {
        font-weight: bold;
        padding-bottom: 13px;
        margin-right: 10%;
    }
    & li.menu{
        display: block;
        float: left;
        margin-left: 15px;
    }
    & li.menu a:active & li:not(.header) {
      display: block;
    }
    & li {
        float: none;
    }
    & li a, a:visited {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease
    }
    & ul.showMenu {
      /*display: block !important;*/
      max-height: 1000px; 
    }

    & a:hover:not(.active) {
      color: #ccc;
    }
    & a.active {
      color: black;
      background-color: #ddd;
    }
    

    
    @media screen and (min-width: 800px){
        & ul li {
            display: inline-block !important;
            float:left;
        }
        
        & li.menu {
            display: none !important;
        }
        & li.dropdown {
          display: inline-block;
        }
    
        & .dropdown-content {
          display: none;
          position: absolute;
          min-width: 160px;
        }

        & li.dropdown:hover .dropdown-content {
          display: block;
        }
    }
    
}

