nav.navbar,
nav.navbar-image {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & header {
        display: flex;
        flex-direction: row;
    }

    & .dropdown {
        background: inherit;
    }

    & .dropdown-content {
        display: none;
        flex-direction: column;
        background: inherit;
    }

    &  .menu.hamburger:before {
        content: "☰";
        font-size: 2rem;
        position: relative;
        top: 5px;
        left: 10px;
    }

    & header > .header {
        font-weight: bold;
        flex-grow: 1;
    }

    & > div {
        visibility: hidden;
    }

    & .dropdown-content-show {
        display:flex;
    }
}

nav.navbar {
    background-color: #f3f3f3;
    max-height: 46px;

    & a, a:visited {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease
    }

    & .dropdown {
        background: inherit;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }

    & .dropdown-content {
        display: none;
        flex-direction: column;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        background: inherit;
    }

    & a:hover:not(.active) {
      color: #ccc;
    }

    & a.active {
      color: black;
      background-color: #ddd;
    }
}

@media screen and (min-width: 801px) {
    nav.navbar,
    nav.navbar-image {
        flex-direction: row;
        overflow: initial;

        & header > .menu {
            display: none;
        }

        & > div {
            visibility: visible;
        }

        & .dropdown-content {
            position: absolute;
            display: none;
            z-index: 100;
        }

        & .dropdown:hover .dropdown-content {
            display:flex;
        }

        & div.right {
            margin-left: auto;
        }

    }
    
    .nav-center {
        justify-content: center !important;
    }
    
    .nav-justify {
        justify-content: space-around;
    }
}

nav.navbar-image {
    background: transparent;
    max-height: 60px;

    & a, a:visited, header a {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    & header > * {
        font-size: 2rem;
    }

}

@media screen and (min-width: 801px) {
    nav.navbar-image {
        & a img {
            max-width: 100%;
        }

        & a {
            -webkit-transition: all .3s ease-in-out 0s;
            -moz-transition: all .3s ease-in-out 0s;
            -ms-transition: all .3s ease-in-out 0s;
            -o-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
        }

        & a:hover:not(.active) {
            transform: scale(1.2);
        }
    }
}

nav.show-menu {
    max-height: 100% !important;

    & > div {
        visibility: visible;
    }
}

