nav.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 46px;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(1, 1, 0, 0) 0s;
    -moz-transition: all 0.5s cubic-bezier(1, 1, 0, 0) 0s;
    -ms-transition: all 0.5s cubic-bezier(1, 1, 0, 0) 0s;
    -o-transition: all 0.5s cubic-bezier(1, 1, 0, 0) 0s;
    transition: all 0.5s cubic-bezier(1, 1, 0, 0) 0s;
    background-color: #f3f3f3;

    & header {
        display: flex;
        flex-direction: row;
    }

    /*
    & header > .menu {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    */

    &  .menu.hamburger:before {
        content: "☰";
        font-size: 2rem;
        /* padding: 10px; */
        position: relative;
        top: 5px;
        left: 10px;
    }

    & header > .header {
        font-weight: bold;
        flex-grow: 1;
    }

    & > div {
        visibility: hidden;
    }

    & .dropdown {
        background: inherit;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
    }

    & .dropdown-content {
        display: none;
        flex-direction: column;
        -webkit-transition: all .3s ease-in-out 0s;
        -moz-transition: all .3s ease-in-out 0s;
        -ms-transition: all .3s ease-in-out 0s;
        -o-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
        background: inherit;
    }


    & .dropdown:hover .dropdown-content {
        display: flex;
    }

    & a, a:visited {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        -webkit-transition:all 0.3s ease;
        transition:all 0.3s ease
    }

    & a:hover:not(.active) {
      color: #ccc;
    }

    & a.active {
      color: black;
      background-color: #ddd;
    }
}

nav.show-menu {
    max-height: 100vh;

    & > div {
        visibility: visible;
    }
}

@media screen and (min-width: 801px) {
    nav.navbar {
        flex-direction: row;
        overflow: initial;

        & header > .menu {
            display: none;
        }

        & > div {
            visibility: visible;
        }

        & .dropdown-content {
            position: absolute;
            display: none;
        }

        & .dropdown:hover .dropdown-content {
            display:flex;
        }

        & div.right {
            margin-left: auto;
        }

        & .nav-center {
            justify-content: center;
        }

        & .nav-justify {
            justify-content: space-around;
        }
    }

}


