
.card.dark,
.panel.dark {
    background: #000;
    box-shadow: 0 2px 2px 0 rgba(127,127,127,.14), 0 3px 1px -2px rgba(127,127,127,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    color: white;
    
    & header {
        border-color: black;
        box-shadow: 0 2px 2px 0 rgba(127,127,127,.2);
    }
}

.card,
.panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
    margin: .5rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    & header {
        padding: 1rem;
        font-weight: bold;
        font-size: 1.3rem;
        border-color: black;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    }

    & section {
        padding: 1rem;
    }

}
