.panel{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;

    & header {
        border-color: black;
        padding: 20px;
        font-weight: bold;
        font-size: 130%;
    }
    & section {
        padding: 20px;
    }
}