.panel{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;

    & header {
        border-color: black;
        padding: 10px;
        font-weight: bold;
        font-size: 130%;
    }

    & section {
        padding: 10px 50px;
    }    
    
    @media screen and (min-width: 800px){
        & section {
            padding: 10px 20px;
       }      
    }
}