table {
    border-collapse:collapse;
    border-spacing:0;
}

table,
th,
td {
    border:none
}

.table.dark {
    color: white;
    box-shadow: 0 2px 2px 0 rgba(127,127,127,.14), 0 3px 1px -2px rgba(127,127,127,.2), 0 1px 5px 0 rgba(127,127,127,.12);

    & tbody tr {
        border-top: 1px solid rgba(0,0,0,.14);
    }
    
    & thead,
    & tbody {
        background: rgb(0,0,0);
    }
}

.table {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    & tbody tr {
        border-top: 1px solid rgba(100,100,100,.14);
    }
}

.table-bordered {
    border:1px solid #ccc;

    & td,
    & th {
        border:1px solid #ccc;
    }
}

.dark.striped {
    & tbody tr:nth-child(even) {
        background-color: rgb(0,0,0);
    }

    & tbody tr:nth-child(odd){
        background-color: rgb(35,35,35);
    }
}

.striped {
    & tbody tr:nth-child(even) {
        background-color:#EEEEEE;
    }

    & tbody tr:nth-child(odd){
        background-color:#fff;
    }
}

.table-hover tbody tr {
    transition:background-color .25s ease;
}

.dark.table-hover tbody tr:hover,
.table-hover tbody tr:hover {
    background-color:#ccc;
    color: black;
}

.td-center tr th,
.td-center tr td{
    text-align: center;
}

.td-right tr th,
.td-right tr td{
    text-align: right;
}

.table td,
.table th,
.table-bordered td,
.table-bordered th{
    padding: .5rem;
    text-align:left;
    word-wrap: break-word;
    word-break: break-word;
}

.table th:first-child,
.table td:first-child,
.table-bordered th:first-child,
.table-bordered td:first-child {
    padding-left:1rem;
}

tbody tr.selected {
    background: #ccc !important;
}

.expoanded {
    width:100%;
}
