table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table
}

table,th,td{
    border:none;
}
.tab-border{
    border:1px solid #ccc;
}
.bordered tr,.tab-border tr{
    border-bottom:1px solid #ddd;
}
.tab-striped tbody tr:nth-child(even) {
    background-color:#f1f1f1;
}
.tab-border tr:nth-child(odd){
    background-color:#fff;
}
.tab-border tr:nth-child(even){
    background-color:#f1f1f1;
}
.tab-hover tbody tr{
    transition:background-color .25s ease;
}
.tab-hover tbody tr:hover{
    background-color:#ccc;
}
.tab-center tr th,.tab-center tr td{
    text-align:center;
}
.tab td,.tab th,.tab-border td,.tab-border th{
    padding:6px 3px;
    display:table-cell;
    text-align:left;
    vertical-align:top;
}
.tab th:first-child,.tab td:first-child,.tab-border th:first-child,.tab-border td:first-child {
    padding-left:16px;
}
