.txt-left {
    text-align: left !important;
}

.txt-center {
    text-align: center !important;
}

.txt-right {
    text-align: right !important;
}

.txt-justify {
    text-align: justify !important;
}

.txt-01{font-size:0.1rem !important;}
.txt-02{font-size:0.2rem !important;}
.txt-03{font-size:0.3rem !important;}
.txt-04{font-size:0.4rem !important;}
.txt-05{font-size:0.5rem !important;}
.txt-06{font-size:0.6rem !important;}
.txt-08{font-size:0.8rem !important;}
.txt-10{font-size:1rem !important;}
.txt-11{font-size:1.1rem !important;}
.txt-12{font-size:1.2rem !important;}
.txt-13{font-size:1.3rem !important;}
.txt-14{font-size:1.4rem !important;}
.txt-15{font-size:1.5rem !important;}
.txt-20{font-size:2rem !important;}
.txt-21{font-size:2.1rem !important;}
.txt-22{font-size:2.2rem !important;}
.txt-23{font-size:2.3rem !important;}
.txt-24{font-size:2.4rem !important;}
.txt-25{font-size:2.5rem !important;}
.txt-4{font-size:4rem !important;}
.txt-shadow{text-shadow:1px 1px 0 #444}
.txt-shadow-white{text-shadow:1px 1px 0 #ddd}
