.txt-left {text-align: left !important;}
.txt-center {text-align: center !important;}
.txt-right {text-align: right !important;}
.txt-justify {text-align: justify !important;}
.txt-tiny{font-size:10px !important;}
.txt-small{font-size:12px !important;}
.txt-medium{font-size:15px !important;}
.txt-large{font-size:18px !important;}
.txt-xlarge{font-size:24px !important;}
.txt-xxlarge{font-size:36px !important;}
.txt-xxxlarge{font-size:48px !important;}
.txt-jumbo{font-size:64px !important;}
.txt-shadow{text-shadow:1px 1px 0 #444}
.txt-shadow-white{text-shadow:1px 1px 0 #ddd}
